
@media (min-width: 851px) and (max-width:1024px){
    .cards{
        flex-direction: column;
        gap: 1rem;
        
    .card{
        width: 90%;
    }
    }
}

@media (max-width: 850px){

    .nav-lists {
        li a{
            display: block;
        }
    }

    .header-description{
        h1{
            font-size: 4.5rem;
        }
        h3{
            font-size: 1.3rem;
        }
    }

    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:linear-gradient(rgba(0, 0, 0, .60)),  linear-gradient(rgba(0, 0, 0, 0.60)) ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    #check:checked ~ ul {
        left: 0;
    }
    .about-us{
        width: 70%;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            text-align: justify;
        }
    }
    .services{
        flex-direction: column-reverse;
    }
    .services-description {
        width: 100%;
    }

    .service-tag{
        width: 100%;
        h3{
            font-size: 2rem;
        }
    }
    // Products

    .cards{
        flex-direction: column;
        gap: 1rem;
        .card{
            width: 80%;
            margin: 1rem;
        }
    }

    .products-footer{
        flex-direction: column;

        span{
            font-size: 1.2rem;
        }

        .products-btn{
            margin-top: 1rem;
        }
    
        .footer-card{
            margin: 1rem 0;
        }
}
}

@media (max-width: 468px){
    header{
        height: 80%;
    }
    .bg-image{
        height: 80vh;
    }
    
    .header-description{
        h1{
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
        }
    }

    .about-us{
        width: 90%;
        h1{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.1rem;
        }
    }

    .services{
        flex-direction: column-reverse;
    }
    .services-image{
        padding: 3rem;
    }
    .services-description {
        width: 100%;
    }

    .services-card{
        p{
            font-size: 1.1rem;
        }
    }

    .service-tag{
        width: 100%;

        h3{
            font-size: 1.8rem;
        }
    }


// Products
    .cards{
        flex-direction: column;

        .card{
            width: 90%;
            margin: 1rem ;
        }
    }
    .products-footer{
            flex-direction: column;

            span{
                font-size: 1.2rem;
            }

            .products-btn{
                margin-top: 1rem;
            }
    }

    // Footer section

    footer{

        .footer-cards{
            flex-direction: column;
        }
        .footer-card{
            width: 100%;
        }
    }

    .company-attribute{
        flex-direction: column;
        span{
            padding: 1rem 0;
        }
    }


    // CONTACT PAGE RESPONSIVENESS

    .contact-section{
        flex-direction: column;

        .contact-card{
        }
    }
}

@media (max-width: 280px){
    .header-description{
        h1{
            font-size: 2rem;
        }
        h3{
            font-size: 1rem;
        }
    }
    .about-us{

        h1{
            font-size: 1.5rem;
        }
    }


    .services-card{
        h4{
            font-size: 1rem;
        }
        p{
            font-size: .8rem;
        }
    }
    .service-tag{

        h3{
            font-size: 1.2rem;
        }
    }

}