.cards{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
    margin: 1rem 0;
    .card {
        width: 400px;
        background-color: white;
    }
}

.about-us{
    h1{
        text-decoration: underline;
    }
}

.products-header h1{
    margin: 1rem 0;
}
// Comment